<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.login">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity android:name=".Directions"></activity>
        <activity android:name=".Ask_Questions" />
        <activity android:name=".greetings" />
        <activity android:name=".Greetings" />
        <activity android:name=".BePolite" />
        <activity android:name=".CommonPhrases" />
        <activity android:name=".Verify" />
        <activity android:name=".Translation" />
        <activity android:name=".slider4" />
        <activity android:name=".slider3" />
        <activity android:name=".slider2" />
        <activity android:name=".slider1" />
        <activity android:name=".splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Common_Dashboard" />
        <activity android:name=".America" />
        <activity android:name=".Thailand" />
        <activity android:name=".Poland" />
        <activity android:name=".Mexico" />
        <activity android:name=".Malaysia" />
        <activity android:name=".Japan" />
        <activity android:name=".Italy" />
        <activity android:name=".India" />
        <activity android:name=".Germany" />
        <activity android:name=".France" />
        <activity android:name=".choose_country" />
        <activity android:name=".Dashboard" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>